numpy
transformers==4.35.2
rouge-score
datasets
torch
spacy>=3.0.0
# Spacy model to download
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl